<section id="books">
  <table border="1" style="width:100%">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Year</th>
    </tr>
    {{#each books}}
    <tr>
      <td>{{id}}</td>
      <td>{{title}}</td>
      <td>{{author}}</td>
      <td>{{year}}</td>
    </tr>
    {{/each}}
  </table>
</section>
