<section id="pagination" class="navigation">
  {{#if hasPrevPage}}
  <a href="index.html?page={{prevPage}}"> << Prev</a> |
  {{/if}}
  Page {{page}} |
  <a href="index.html?page={{nextPage}}"> Next >> </a>
</section>
