.nav-trigger:checked + label {
    top: 5rem;
}
.nav-trigger:checked ~ .site-wrap {
    top: 5rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}
.btn, .btn:link, .btn:visited {
  border-radius: 0.25em;
  border-style: solid;
  border-width: 1px;
  color: #111;
  display: inline-block;
  font-family: avenir, helvetica, roboto, arial, sans-serif;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.4s, background-color 0.4s, border 0.4s;
  transition: color 0.4s, background-color 0.4s, border 0.4s;
}
.btn:hover, .btn:focus {
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.btn:active {
  color: #0074D9;
  border: 1px solid #0074D9;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}
@media only screen and (min-width : 768px) and (max-width : 1400px) {
  .nav-trigger:checked + label {
      left: 215px;
      top: 15px;
  }
  .nav-trigger:checked ~ .site-wrap {
      left: 200px;
      top: 0px;
  }
}
