html {
  margin: 0;
  padding: 0;
}
.topNav {
  width: 100%;
  height: 20%;
  padding-top: 10px;
  text-align: center;
  top: 0;
  z-index: 10;
  /*position: fixed;*/
}
.topNav ul {
  background-color: rgba(240, 237, 231, 0.8)
}
.topNav li {
  display: inline-block;
  margin: 30px 20px 30px 20px;
  font-size: 2em;
  text-decoration: none;
  z-index: 20;

}
 #article {
   margin-top: 400px;
 }

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.wrap {
  background-color: #f0ede7;
  font-family: serif;
  margin: 0;
 }

.image-area {
  width: 100%;
  height: 100%;
  background-image: url("images/deer.jpg");
  position: fixed;
  z-index: -10;
  margin: 0;
  opacity: 0.8;
  background-color: white;
}

.footer {
  background-color: rgba(240, 237, 231, 0.8);
  width: 100%;
  padding: 2%;

}



/*
* not for desktop
*/

@media all and (min-width: 450px)
