.name {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-style: oblique;
    font-size: 1rem, padding: 1rem;
    color: aliceblue;
    text-align: center;
}
.mainHeader, header, p, #aboutSection {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    color: aliceblue;
    opacity: .9;
    margin-top: 2%;
    margin-bottom: 2%;
}

footer {
    padding-left: -2%;
    color: gray;
    font-family: Times;
}
