/*Mobile first styling*/

body {
  text-align: center;
  background-color: #004080;
  color: white;
}

h1 {
  font-size: 10.1vh;
  color: white;
  text-align: center;
}

nav {
  text-align: center;
  background-color: #309f5b;
  font-size: 5vw;
  padding-top: .002%;
  padding-bottom: .002%;
}

ul {
  padding-left: .5%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 95vw;
}

ul li {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

ul li:hover {
  background-color: red;
}

ul li:hover a {
  color: white;
}

ul li a {
  color: #66a3ff;
  text-decoration: none;
}

.project_picture {
  width: 95%;
  margin: auto;
  margin-bottom: 2%;
}

.project_description p {
  line-height: 1.5;
}

@media all and (min-width: 501px) and (max-width: 850px) {
  body {
    text-align: center;
    background-color: #004080;
    color: white;
  }

  h1 {
    font-size: 10.1vh;
    color: white;
    text-align: center;
  }

  nav {
    text-align: center;
    background-color: #309f5b;
    font-size: 5vw;
    padding-top: .002%;
    padding-bottom: .002%;
  }

  ul {
    padding-left: 0px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 95vw;
  }

  ul li {
    display: inline-block;
    width: 45%;
    margin: auto;
  }

  ul li:hover {
    background-color: red;
  }

  ul li:hover a {
    color: white;
  }

  .project_picture {
    width: 95%;
    margin: auto;
    margin-bottom: 2%;
  }
}

@media all and (min-width: 851px) {
  body {
    background-color: #004080;
    color: white;
  }

  h1 {
    font-size: 9vh;
    color: white;
    text-align: center;
  }

  nav {
    text-align: center;
    background-color: #309f5b;
    font-size: 1.7vw;
    padding-top: .002%;
    padding-bottom: .002%;
  }

  nav ul {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  ul li {
    display: inline-block;
    margin: 0 2% 0 2%;
    padding: 2% 1% 2% 1%;
    width: 14%;
    height: 100%;
  }

  ul li:hover {
    background-color: red;
  }

  ul li:hover a {
    color: white;
  }

  ul li a {
    color: #66a3ff;
    text-decoration: none;
  }

  main {
    padding-left: 3%;
    padding-right: 1%;
  }

  .portfolio_item {
    display: inline-block;
    width: 45%;
    margin-left: 1%;
  }

  .project_title {
    font-size: 4vh;
  }

  .project_picture {
    width: 33%;
    margin-top: .5%;
    margin-bottom: 1%;
  }

  .project_description {
    font-size: 3vh;
  }
}
