ul li:hover {
  background-color: red;
}

ul li:hover a {
  color: white;
}

@media all and (min-width: 501px) and (max-width: 850px) {

  ul {
    padding-left: 0px;
  }

  ul li {
    display: inline-block;
    width: 45%;
    margin: auto;
  }

  .project_picture {
    width: 70%;
  }
}

@media all and (min-width: 851px) {

  h1 {
    font-size: 9vh;
  }

  nav {
    font-size: 1.7vw;
  }

  nav ul {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  ul li {
    display: inline-block;
    margin: 0 2% 0 2%;
    padding: 2% 1% 2% 1%;
    width: 14%;
    height: 100%;
  }

  #projects {
    margin: 0 13% 0 10%;
  }

  .portfolio_item {
    width: 100%;
    margin-left: 1%;
  }

  .project_title {
    font-size: 4vh;
  }

  .project_picture {
    width: 60%;
    margin-top: .5%;
    margin-bottom: 1%;
  }

  .project_description {
    font-size: 3vh;
  }
}
