body {
  /*font-size: 16px;*/
  /*font-size: 70%;*/
}

.first-article {
  font-size: 1.5em;
}

.first-section {
  font-size: 1.5em;
}

.first-list {
  font-size: 1.5em;
}

.first-item {
  font-size: 1.5em;
}

.second-list {
  font-size: 1.5em;
}

.second-item {
  font-size: 1.5em;
}

.third-article {
  font-size: 1.5rem;
}

.third-section {
  font-size: 1.5rem;
}

.third-list {
  font-size: 1.5rem;
}

.third-item {
  font-size: 1.5rem;
}
