html,body {
  height: 100%;
  margin: 0 2%;
  padding: 5px;
  font-family: helvetica;
}

h1, h2, h3, p, li, a {
  color: #797979;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
  cursor: pointer;
}



/* style for nav */

#ericImg {
    width: 100px;
    display: block;
    margin: 20px auto;
    border: 1px solid red;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

#pageTitle {
  font-size: 60px;
  display: block;
  text-align: center;
  font-weight: 300;
  color: #797979;
}


/* style for sections */

section {
  margin-top: 20px;
}

/* style for projects */

.prototype {
  display: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 40px;
}

li, #projects img {
  margin-bottom: 10px;
}

.fullWidthImages {
  max-width: 100%;
  min-width: 100%;
  -webkit-filter: grayscale(100%);
}

.fullWidthImages:hover {
  -webkit-filter: none;
}

.projectName {
  font-size: 1.6em;
}

.projectDate {
  font-size: 1.0em;
}

.projectLink {
  font-size: 1.2em;
}


h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

p, .projectDescription, li>a {
  font-size: 1.3em;
}



/* style for nav */

.nav, .stickyNav {
  display: block;
  font-size: 1.3em;
  background-color: white;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}


.nav a, .stickyNav a {
  font-size: 0.9em;
  display: inline-block;
  margin-right: 15px;
}

#pageTitle {
  font-size: 2.0em;
  display: block;
  margin: 10px auto;
}

.selected {
  color: red;
}

.stickyNav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  border-bottom-style: solid;
  border-bottom-color: #797979;
  border-bottom-width: 1px;
}

.stickyNav a {
  margin-top: 15px;
  margin-bottom: 15px;
}

.stickyNav hr {
  border-color: #797979;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 2px;
  max-width: 100%;
  margin: 0;
  display: none;
}

footer p {
  text-align: center;
  font-size: 0.7em;
  margin: 20px auto;
}


/* twitter bootstrap fluid row styles */

.wrapper {
  position: relative;
  display: block;
  width: 300px;
  height: 300px;
  margin: 0px auto;
  padding-top: 50px;
}

.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}

.row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}

.row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}

.row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}

.row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}

.row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}

.row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}

.row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}

.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}

.row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}

.row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}

.row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}

/*@media screen and (min-width: 400px)  {

}*/
@media screen and (min-width: 600px)  {
  body {
    max-width: 900px;
    margin: 0 auto;
  }

  .navContainer {
    height: 102px;
  }

  #ericImg {
    display: block;;
    float: left;
    width: 80px;
    margin: 10px auto;
  }

  .stickyNav a, .nav a {
    font-size: 0.9em;
    font-weight: 300;
  }


  #pageTitle {
    font-size: 1.7em;
    margin-top: -0.05em;
    margin-left: 10px;
    float: left;
    line-height: 102px;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.4em;
  }

  p, .projectDescription, li>a {
    font-size: 1.0em;
  }

  .nav  {
    padding-top: 20px;
    text-align: right;
  }

  .projectName {
    font-size: 1.6em;
  }

  .projectDate {
    font-size: 0.9em;
  }

  .projectLink {
    font-size: 0.8em;
  }






}
@media screen and (min-width: 1000px) {...}
@media screen and (min-width: 1400px) {...}
