body {
  margin: 0;
  overflow-x: hidden;
}
nav {
  display: none;
}
label[for="nav-trigger"] {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}
.template {
  display: none;
}
.display-4 {
  margin-top: 25%;
}
.nav {
  background: #818a91;;
  width: 100%;
  height: 50%;
  position: fixed;
  z-index: 0;
  top: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.nav-trigger:checked + label {
    top: 5rem;
}
.nav-trigger:checked ~ .site-wrap {
    top: 5rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}
.nav-trigger + label, .site-wrap {
    transition: top 0.2s;
}
.site-wrap {
  min-width: 100%;
  min-height: 100%;
  background-color: #fff;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

#header {
  background-color: #DBB93F;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 50%;
}
.btn, .btn:link, .btn:visited {
  border-radius: 0.25em;
  border-style: solid;
  border-width: 1px;
  color: #111;
  display: inline-block;
  font-family: avenir, helvetica, roboto, arial, sans-serif;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.4s, background-color 0.4s, border 0.4s;
  transition: color 0.4s, background-color 0.4s, border 0.4s; }

.btn:hover, .btn:focus {
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s; }

.btn:active {
  color: #0074D9;
  border: 1px solid #0074D9;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s; }

/* Media Queries*/
@media only screen and (min-width : 768px) and (max-width : 1400px) {
  .nav {
    height: 100%;
  }
  .nav-trigger:checked + label {
      left: 215px;
      top: 15px;
  }
  .nav-trigger:checked ~ .site-wrap {
      left: 200px;
      top: 0px;
  }
  .nav-trigger + label, .site-wrap {
      transition: left 0.2s;
      transition: top 0s;
  }
  #projects {
    flex-direction: row;
    justify-content: space-around;
  }
  #header {
    height: 75%;
  }
  #profilePic {
    height: 200px;
    width: 200px;
  }
}
