body {
  margin: 0;
}
header h1, h2 {
  font-family: avenir, helvetica, roboto, arial, sans-serif;
}
header h1 {
  font-size: 28px;
  color: #fff;
  margin-top: 8%;
}
header h2 {
  font-size: 18px;
  margin-top: -1%;
  color: #fff;
  margin-bottom: 20%;
}
footer {
  text-align: center;
  margin-top: 15px;
}
a {
  text-decoration: none;
  color: #fff
}

nav {

  width: 100%;
}
ul {
  padding: 0;
  margin: auto;
  text-align: center;
}
li {
  list-style-type: none;
  border-bottom: 1px #fff solid;
  padding: 2%;
}
.navLinks {
  font-size: 18px;
}
header {
  background-color: #DBB93F;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 50%;
}
#navDiv {
  width: 100%;
  justify-content: flex-end;
  background-color: #76756B;
  display: none;
}
#hairPartyDiv {
  margin-top: 10%;
}
#profilePic {
  border-radius: 45%;
  height: 64px;
  width: 64px;
  position: absolute;
  top: 5%;
  left: 5%;
}
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#byckleta {
  color: black;
  font-size: 36px;
  transform: rotate(-7deg);
  font-family: 'Rock Salt', cursive;
}
#buttonNav {
  position: absolute;
  top: 5%;
  right: 5%;
}
#buttonNav img {
  width: 48px;
  height: 48px;
}

.btn, .btn:link, .btn:visited {
  border-radius: 0.25em;
  border-style: solid;
  border-width: 1px;
  color: #111;
  display: inline-block;
  font-family: avenir, helvetica, roboto, arial, sans-serif;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.4s, background-color 0.4s, border 0.4s;
  transition: color 0.4s, background-color 0.4s, border 0.4s; }

.btn:hover, .btn:focus {
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s; }

.btn:active {
  color: #0074D9;
  border: 1px solid #0074D9;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s; }

/* Media Queries*/
@media only screen and (min-width : 768px) and (max-width : 1200px) {
  #projects {
    flex-direction: row;
    justify-content: space-around;

  }
  header {
    height: 100%;
  }
}
