.name {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-style: oblique;
  font-size: 16px,
  padding: 20px;
}

.mainHeader {
  font-family: "Raleway", Helvetica, Arial, sans-serif;

}

body {
  padding: 1em;
}

main {
  margin: auto;;
  width: 90%;
}

hr {
  margin: 1em;
  width: 90%;
}
address {
  display: inline-block;
}
img {
  width: 300px;
}
