/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #222f5b;
  background-image: url("../imgAssets/code.jpeg");
  background-attachment: fixed;
  }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer
.about {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  /*border-bottom: 1px solid #e5e5e5;*/
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
.jumbotron img {
  max-width: 100%;
  border-radius: 50%;
}

/* Custom page footer */
.about {
  /*padding-top: 19px;*/
  border-top: 1px solid #e5e5e5;
}

footer {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 10rem;
  background-color: #FFBB00;
  border-radius: 5px;
}

footer p {
  font-family: "ForoRounded W01 Light", cursive;
  font-weight: bold;
  font-size: 2rem;
  color: #222f5b;
  text-align: center;
  margin-bottom: 1rem;
}

/* Customize container */
@media (min-width: 868px) {
  .container {
    max-width: 848px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  font-family: "ForoRounded W01 Light", cursive;
  color: #222f5b;
}

/* Supporting marketing content */
.marketing {
  font-family: 'Raleway', cursive;
  margin: 40px 0;
  background-color: #eee;
  border-radius: 5px;
}
.marketing p + h4 {
  margin-top: 28px;
}
.page-content img {
  max-width: 100%;
  border-radius: 5px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
