.topNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5rem;
    text-align: center;
    background-color: #FFBB00;
    border-radius: 5px;
}
ul.topNav li {
    float: none;
    display: inline-block;
    width: 10rem;
    background-color: #222f5b;
    text-align: center;
    margin-top: 0.4rem;
    border: 1px solid #222f5b;
    margin-left: 0.7rem;
    -webkit-border-radius: 3px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.topNav a {
    text-decoration: none;
    color: #FFBB00;
}
ul.topNav a:hover {
    color: #222f5b;
    background-color: #eee;
}
section.about {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 3-px
}
.links {
    align-self: stretch;
    margin: auto;
}
.icon {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}
.about p {
    align-self: stretch;
    color: #222f5b;
    width: 40rem;
    text-align: justify;
    margin: 1rem 2rem;
    font-size: 1.8rem;
}
p.hbAnagram {
  font-size: 1rem;
  align-self: stretch;
  color: #222f5b;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}
#repo {
  text-align: center;
}
#repo li {
  float: none;
  display: inline-block;
  width: auto;
  background-color: #222f5b;
  margin-top: 0.4rem;
  border: 1px solid #222f5b;
  margin-left: 0.7rem;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#repo a {
  text-decoration: none;
  color: #FFBB00;
}

#repo a:hover {
  color: #222f5b;
  background-color: #eee;
}
