body {
  background: #222f5b;
}

address {
    display: inline-block;
}
hr {
    margin: 1em;
    width: 80%;
}
header.topPage {
    width: 100%;
    height: 20rem;
    background-color: #5d5d5d;
}
header img {
  margin-top: 1rem;
  vertical-align: middle;
  width: 20rem;
  height: 10rem;
}

.top {
  color: #0e1a40;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}
.topNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 4rem;
  text-align: center;
  background-color: #946b2d;
}
ul.topNav li {
  display: inline-block;
  width: 10rem;
  background-color: #222f5b;
  text-align: center;
  border: 1px solid #000000;
  margin-left: .7rem;
  margin-top: 0.7rem;
}
ul.topNav a {
    text-decoration: none;
}
footer {
    background-color: #946b2d;
    height: 5rem;
    vertical-align: bottom;
  }
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  text
  }
footer ul li {
  display: inline-block;
  width: 10vw;
  background-color: #946b2d;
  }
footer a {
  color: #222f5b;
  text-decoration: none;
  vertical-align: bottom;
}
