.template {
  display: none;
}

.draft {
  display: none;
}

#projects {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

.contributors {
  color: #5d5d5d;
}

.contributors a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
.contributors img {
  display: block;
  margin-top: 1vw;
  max-height: 20vw;
  max-width: 20vw;
  object-fit: cover;
}
