
/*FONT ICONS AND ANCHORS */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://weloveiconfonts.com/api/?family=entypo);


/*fontawesome*/
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


.font-icon{
  text-decoration: none;
  font-size: 30px;
  color: #6F7367;
}

.url-text{
  font-size: 17px;
  display: inline-block;
  margin: 0 0 0 10px;
  font-style: italic;
}

/*GLOBAL STYLES*/
html{
  background-color: #EFF0F1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

a{
  color: #6F7367;
}

a:hover{
  color: #4D637C;
}

p{
  font-family: 'Lora', serif;
  font-size: 16px;
  color: #214C3F;
}




/*HEADER AND BODY*/

.header-container{
  border-radius: 3px;
  background-color: rgba(66, 84, 107, 0.14);
  padding: 1% 5%;
  display: flex;
  align-items: center;
}

.logo{
  width: 25%;
  display: inline-block;
}

.me{
  border-radius: 50%;
}

.header{
  font-weight:lighter;
  letter-spacing: 2px;
  margin: 0 2%;
  font-size: 40px;
  color: #2E6957;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.sub-header{
  font-weight:lighter;
  letter-spacing: 2px;
  margin: 0 5%;
  color: #2E6957;
}

.container{
  padding: 10px;
}

/*NAV STYLING*/
.nav-container{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 30px auto;
  border-radius: 3px;
  background-color: rgba(66, 84, 107, 0.14);
  padding: 1% 1%;
  text-align: center;
  height: 80px;
}

nav ul{
  display: flex;
  padding:10px;
  width: 60%;
}

nav li{
  width: 50%;
  height: 100%;
  list-style-type: none;
  border: solid rgba(64, 61, 61, 0.09) 1px;
  padding: 10px;
  border-radius: 2px;
  background-color: rgba(140, 195, 176, 0.14);
  margin: 5px;
  font-size: 20px;
}

nav a{
  text-decoration: none;
  color: #437365;
  display: block;
}

/*SELECT */

select{
  -webkit-appearance:none;
  padding:10px;
  width: 30%;
  height: 55%;
  font-size: 15px;
  color:  #437365;
  background-color: rgba(140, 195, 176, 0.14);
  border: solid rgba(64, 61, 61, 0.09) 1px;
  background: url(../images/br_down.png) rgba(140, 195, 176, 0.14) no-repeat 95%;
}

/*ARTICLE CONTENT STYLING*/

article{
  margin-top: 30px;
  background-color: rgba(225, 225, 225, 0.64);
  padding: 10px;
  border-radius: 3px;
}

.date{
  font-style: italic;
}

.title-date{
  padding:2px 0px 2px 20px;
}

.text{
  margin: 10px;
}

.text-right{
  text-align:right;
}

.text-left{
  text-align:left;
}

a.show-more{
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 1px;
  margin: 0 20px;
}

.skillsGithub{
  margin: 20px 0;
}

 .skills a{
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 1px;
}

hr{
  border: 1px solid #6F7367;
  clear: both;
}

/*IMAGE STYLING*/
img{
  max-width: 100%;
}

.image{
  display: flex;
  max-height: 250px;
  margin: 0 20px 50px 20px;
}

.image-left {
  float: left;
}

.image-right{
  float: right;
}


/*DISCLAIMER!! USED CODE EXAMPLE FROM W3 SCHOOLS CAN EXPLAIN MODAL CODE THOUGH*/
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content{
  background-color: #fefefe;
  margin: auto;
  margin-top: 20px;
  width: 70%;
  padding: 20px;
}


/*ABOUT ME*/

#about div.header-container{
  background-color: rgba(225, 225, 225, 0.64);
  justify-content: flex-end;
}

footer{
  display: flex;
  align-items: center;
  height: 3em;
  border: 1px solid rgba(225, 225, 225, 0.64);
  border-radius: 1px;
  background-color: rgba(225, 225, 225, 0.64);
  margin: 1%;
  padding: 0;
  justify-content: space-around;
}

footer h4{
  font-size: 22px;
  color: #6F7367;
}

footer a{
  text-decoration: none;
}


 /*MEDIA QUERIES TODO*/

@media screen and (max-width: 500px){
  p.url-text{
    display: none
  }
}

@media screen and (max-width: 745px){

  .nav-container{
    flex-direction: column;
    height: 100%
  }

  .nav-container ul{
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .nav-container li{
    width: 100%;
    padding: 1% 0;
    margin: 1% auto;
  }

  .nav-container select{
    width: 100%;
    text-align: center;
  }

}

@media screen and (max-width: 890px){
  .text{
    clear: both;
  }

  .image{
    margin: 20px 0 50px 0;
  }
}
