#projects-module {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #E8E2CC;
}

.byline {
  font-size: 75%;
  opacity: 0.75;
}

.project {
  background-color: #010101;;
  margin: 50px auto;
  padding: 5px 10px;
  max-width: 600px;
  min-width: 350px;
}

.title {
  font-size: 40px;
}

.title,
.author {
  color: #AC1603;
}

/* when width is less than 500 */

@media all and (max-width: 499px) {
  #projects-module {
    width: 100%;
  }
}

/* when width is greater than 500 */

@media all and (min-width: 500px) {
  #projects-module {
    width: 75%;
}
